.TodoItem {
  background-color: var(--todo-item);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  border-radius: 18px;
  width: 100%;
  max-width: 500px;
}

.TodoItem-p {
  margin: 24px 0 24px 24px;
  padding-left: 30px;
  width: calc(100% - 120px);
  font-size: x-large;
  line-height: 28px;
  font-weight: medium;
  color: #FFFFFF;
  
}
.TodoItem-p--complete {
  text-decoration: line-through #a6f2e8;

}
