.LoadingTodo-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  width: 100%;
}

.LoadingTodo-container {
  max-width: 500px;
  width: 100%;
  border-radius: 18px;
  box-shadow: 0px 5px 50px rgba(108, 99, 126, 0.2);
}

@media screen and (max-width: 420px) {
  .LoadingTodo-container{
    max-width: 350px;
  }
}

.LoadingTodo-text {
  position: relative;
  display: flex;
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 24px;
  height: 28px;
  width: 320px;
  border-radius: 32px;
 
}


/* .LoadingTodo-completeIcon,
.LoadingTodo-deleteIcon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 48px;
  width: 48px;
}
.LoadingTodo-completeIcon {
  position: absolute;
  left: 12px;
}
.LoadingTodo-deleteIcon {
  position: absolute;
  top: -24px;
  right: 0;
} */


.LoadingTodo-container
 {
  background: linear-gradient(20deg, rgb(200, 199, 199, .7), rgba(96,88,112, .5));
  background-size: 400% 400%;
  animation: 4s ease-in-out infinite;
} 

@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
