.update-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    background-color: rgba(108, 99, 126, .3);
    z-index: 2;
    
}


.update-modal{
    position: fixed;
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;



}

.update-alert{
    color: #392f4e;
    font-weight: bolder;
    font-size: larger;
    font-family: 'Montserrat';
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 70px;
    padding-bottom: 12px;

}


.reload-button{
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    color: #605870;
    font-weight: 600;
    width: 120px;
    height: 48px;
    border-radius: 12px;
    margin-top: 30px;
    padding-top:0;
    border: none;
    font-family: "Montserrat";
}