form {
    width: 90%;
    max-width: 300px;
    background-color: #FFFFFF;
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 18px;

}

label {
    font-family: 'Montserrat';
    text-align: center;
    font-weight: bold;
    font-size:x-large;
    color: #605870;
    margin-bottom: 26px;
}

textarea {
    background-color: #ffffff;
    border-color:gray;
    border-width: 2px;
    border-radius: 12px;
    color: #605870;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 60px;
    width: calc(100% - 25px);
    outline-color: #605870;

}

textarea ::placeholder {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 200;
 

}

textarea :focus {
    /* border-color: #605870;
    outline-color: none;
    outline-width: .5px; */
    outline: none;
    

}

.TodoForm-buttonContainer{
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.TodoForm-button{
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    color: #605870;
    font-weight: 600;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-family: "Montserrat";

}

.TodoForm-button--add{
    background-color: transparent;
    color: #605870;
    font-size: x-large;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.TodoForm-button--cancel{
    background: transparent;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: 200;
}

.duplicated-error-message{
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    color: rgb(254, 72, 72);
}