body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #605870;
}


:root{
  --linear-gradient1: #E48BBD; 
  --linear-gradient2: #ECE6F3;
  --main-div1: #ece6f3;
  --main-div2: #FFFFFF;
  --todo-item: #F6A2B9;
  --lightgreen-color: #a6f2e8;
  --text-color: #605870;

}


#root {
  background: linear-gradient(var(--main-div1), var(--main-div2));
  background-size: cover;
  background-position: center center;
  margin: 0 0px;
  position: relative;
  min-height: 100vh;
}






