.TodoCounter {
  background: linear-gradient(var(--linear-gradient1), var(--linear-gradient2));;
  font-size: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
  padding: 48px;
  font-weight: bold;
  color: #FFFFFF;
 
}

.TodoCounter span {
  font-weight: bold;
}
