.TodoCounter {
  background: transparent;
  font-size: 24px;
  text-align: center;
  align-items: center;
  justify-content: end;
  margin: 0;
  height: 50px;
  padding: 48px;
  font-weight: bold;
  color: #FFFFFF;
 
}

.TodoCounter span {
  font-weight: bold;
}

.TodoCounter--loading {
  opacity: 25%;
}
