.todo-search-main-container{
  background: transparent;
  border-radius: 32px;
}

.todo-search-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 24px;
  height: 100px;
  border-radius: 32px;
}

.TodoSearch {
  background: transparent;
  font-weight: light;
  font-family: 'Montserrat';
  font-size:large;
  border-radius: 32px;
  border: 2.5px solid var(--todo-item);
  height: 48px;
  padding: 0;
  width: 100%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.TodoSearch::placeholder {
  color: gray;
}

.TodoSearch:focus {
  outline-offset: 1px;
  outline-color: var(--todo-item)

}

.TodoSearch:disabled{
  opacity: 25%
}
